
{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Projects Section-->
  <section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <a class="text-decoration-none link-dark stretched-link" href="{% url 'property_list' %}"></a>
                                <h2 class="fw-bolder">Real Estate Website Design (Responsive + SEO Optimized)</h2>
                                <p>Designed and developed a responsive real estate website for showcasing properties, agent profiles, and contact forms. The site includes advanced search functionality, optimized for both desktop and mobile devices. Integrated a custom admin panel built with Django for easy property management and client communication.</p>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/state.jpg' %}" alt="Website design for real estate agents" />
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <a class="text-decoration-none link-dark stretched-link" href="{% url 'dentist' %}"></a>
                                <h2 class="fw-bolder">Medical Clinic Website — Fast & SEO Friendly</h2>
                                <p>Developed a clean, professional website for a medical clinic with features such as service descriptions, doctor profiles, and appointment booking forms. The site is mobile-friendly, SEO-optimized for better visibility, and features a simple, easy-to-navigate interface.</p>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/health.jpg' %}" alt="Website design for Doctors" />
                        </div>
                    </div>
                </div>
                <br/><br/>
                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <a class="text-decoration-none link-dark stretched-link" href="{% url 'agency' %}"></a>
                                <h2 class="fw-bolder">Corporate Website Design — Professional & Scalable</h2>
                                <p>Created a corporate website for a client in the business sector, focusing on a professional design with high scalability. The site includes an interactive services page, client testimonials, and a contact form, ensuring a seamless user experience across all devices.</p>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/corporate.jpg' %}" alt="Website design for real estate agents" />
                        </div>
                    </div>
                </div>
                <!-- Project Card 4-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <a class="text-decoration-none link-dark stretched-link" href="{% url 'store' %}"></a>
                                <h2 class="fw-bolder">E-Commerce Website Design — SEO & User-Friendly</h2>
                                <p>Developed a user-friendly e-commerce platform that allows businesses to sell products online. The website includes a shopping cart, product pages, and secure checkout, all optimized for fast loading and SEO. The responsive design ensures an optimal experience for customers on all devices.</p>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/ecomerce.jpg' %}" alt="Website design for E-commerce" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'contacts' %}">Contact me</a>
        </div>
    </div>
</section>
</main>

{% endblock content %}